<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
   			id="application"
			point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eddy.Application">
         </run>
      </application>
   </extension>

   <extension 
   		 	point="org.eclipse.ui.perspectives">
      <perspective
            name="Eddy"
            class="eddy.Perspective"
            id="eddy.perspective"
            fixed="true"/>
   </extension>
   
	<extension
			point="org.eclipse.ui.bindings">
		<key
			sequence="M3+Q"
			commandId="org.eclipse.ui.file.exit"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.contexts.window" />
	</extension>   
   
   <extension
   		point="org.eclipse.ui.menus">
   		<menuContribution
   				locationURI="menu:org.eclipse.ui.main.menu">
   				<menu
   					id="eddy.menu.file"
   					label="&amp;Fайл"
   					icon="icons/file.png"
   				>
   					<command
   						commandId="org.eclipse.ui.file.save"
   						label="&amp;Nовый"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.save"
   						label="&amp;Oткрыть"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.save"
   						label="&amp;Sохранить"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.save"
   						label="Сохранить к&amp;aк"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.close"
   						label="Закрыть"
   						/>
   					<command
   						commandId="org.eclipse.ui.file.exit"
   						label="Выход"
   						icon="icons/quit.png"
   						/>
   				</menu>
   				<menu
   					id="eddy.menu.edit"
   					label="Р&amp;eдактор"
   				>
   					<command
   						commandId="org.eclipse.ui.edit.undo"
   						label="Откот"
   					/>
   					<command
   						commandId="org.eclipse.ui.edit.redo"
   						label="Наезд"
   					/>
   				</menu>
        </menuContribution>
   </extension>
   
   <extension
   			point="org.eclipse.ui.views">
   		<view
   			id="eddy.nodes"
   			class="eddy.Files"
   			name="Файлы"
   			icon="icons/nodes.png"
   		/>
   </extension>
   
   <extension
   			point="org.eclipse.ui.perspectiveExtensions">
   		<perspectiveExtension targetID="eddy.perspective">
   			<hiddenMenuItem id="org.eclipse.ui.run"/>
   			<hiddenMenuItem id="org.eclipse.search.menu"/>
   			<hiddenMenuItem id="org.eclipse.source.menu"/>
   			<hiddenMenuItem id="org.eclipse.refactor.menu"/>
   			<view
   				id="org.eclipse.jdt.ui.PackageExplorer"
   				minimized="false"
   				ratio="0.3"
   				relationship="left"
   				relative="org.eclipse.ui.editorss"
   				visible="true"
   			/>
   			<view
   				id="eddy.nodes"
   				minimized="false"
   				ratio="0.5"
   				relationship="bottom"
   				relative="org.eclipse.jdt.ui.PackageExplorer"
   				visible="true"
   			/>
   		</perspectiveExtension>
   </extension>

</plugin>
